.bespin .container {
  vertical-align: top;
}

.edcode-editor {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.edcode-container {
  border: #000000 1px solid;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0.2em 0;
}

.syntax {
  margin: 0;
  padding: 2px;
}

.edcode-container[mode=edit] > .edcode-doedit,
.edcode-container[mode=edit] > .syntax {
  display: none;
}

.edcode-container[mode=display] > .edcode-apply,
.edcode-container[mode=display] > .edcode-editor {
  display: none;
}

.collapsey-container {
  border: #4e9a06 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #73d216;
  display: inline-block;
  padding: 1px;
  margin-bottom: 2px;
}

.collapsey-expand-button,
.collapsey-collapse-button {
  display: inline-block;
  width: 1em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 2px;
  background-color: #4e9a06;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.collapsey-label {
  display: inline-block;
  font-family: sans-serif;
  margin-right: 0.5em;
  cursor: pointer;
}

.collapsey-contents {
  border: #4e9a06 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px;
}

.collapsed-contents {
  display: none;
}
