h1 {
  margin: 0.3em 0px;
}

.danet {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
}

.danet a {
  font-size: 70%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-right: 2px;
  color: black;
}

.bespin .container {
  vertical-align: top;
}

.edcode-editor {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.edcode-container {
  border: #000000 1px solid;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0.2em 0;
}

.edcode-container > .syntax {
  margin: 0;
  padding: 2px;
}

.edcode-container[mode=edit] > .edcode-doedit,
.edcode-container[mode=edit] > .syntax {
  display: none;
}

.edcode-container[mode=display] > .edcode-apply,
.edcode-container[mode=display] > .edcode-editor {
  display: none;
}

.edcode-error {
  color: red;
}

.darea-container {
  border: #8f5902 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e9b96e;
  padding: 1px;
  margin-bottom: 2px;
}

.darea-label {
  display: inline-block;
  font-family: sans-serif;
  margin-left: 0.2em;
}

.darea-out {
  border: #8f5902 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px;
}

.traceout-container {
  border: #c4a000 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #edd400;
  padding: 1px;
  margin-bottom: 2px;
}

.traceout-label {
  display: inline-block;
  font-family: sans-serif;
  margin-left: 0.2em;
}

.traceout-output {
  border: #edd400 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px;
}

.collapsey-container {
  border: #4e9a06 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #73d216;
  display: inline-block;
  padding: 1px;
  margin-bottom: 2px;
}

.collapsey-expand-button,
.collapsey-collapse-button {
  display: inline-block;
  width: 1em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 2px;
  background-color: #4e9a06;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.collapsey-label {
  display: inline-block;
  font-family: sans-serif;
  margin-right: 0.5em;
  cursor: pointer;
}

.collapsey-contents {
  border: #4e9a06 1px solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px;
}

.collapsed-contents {
  display: none;
}
