.bespin .container {
  vertical-align: top;
}

.edcode-editor {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.edcode-container[mode=edit] > .edcode-doedit,
.edcode-container[mode=edit] > .syntax {
  display: none;
}

.edcode-container[mode=display] > .edcode-apply,
.edcode-container[mode=display] > .edcode-editor {
  display: none;
}
