
.typedef {
}

.dict {
}

.group {
}

.groupkids {
}

.dictof {
}

.list {
}

.oneof {
}

.args {
}

.identifier {
}

.string {
}

.rest {
}


.groupName {
  font-weight: bold;
  font-family: sans-serif;
}

.typeName {
  font-weight: bold;
  color: #4169E1;
  font-family: sans-serif;
}

.keyName, .attrName {
  font-weight: bold;
  color: #8A2BE2;
  font-family: sans-serif;
}

.namespace {
}

.class {
}

.method {
}

.function {
}

.field {
}
