
.typedef {
}

.dict {
}

.dictof {
}

.list {
}

.oneof {
}

.args {
}

.identifier {
  font-family: monospace;
}

.string {
}

.rest {
}



.typeName {
  font-weight: bold;
  color: #4169E1;
  font-family: sans-serif;
}

.keyName, .attrName {
  font-weight: bold;
  color: #204a87;
  font-family: sans-serif;
}

.retVal {
  color: gray !important;
  font-size: 80%;
}

.namespace {
}

.class {
}

.method {
}

.function {
}

.field {
}

.gettersetter > dt {
  color: gray;
}

/* serious attempts at prettiness follow. perhaps without success. */
.attrName {
  float: left;
  clear: left;
  width: 10em;
}

.typeBrief {
  margin: 0 0 0 11em;
  min-height: 1em;
}

.typeDetail {
  margin: 0 0 0 2em;
}

.attrDesc {
  margin: 0 0 0 1em;
  min-height: 1em;
}

.attrDesc p {
  margin: 0;
}

.attrDesc p + p {
  margin: 1em 0;
}

.briefGroupName {
  font-weight: bold;
  font-size: 90%;
  font-family: sans-serif;
}

.briefGroup {
}

.group {
  padding-top: 1em;
}

.groupName {
  font-weight: bold;
  font-family: sans-serif;
  background-color: #dddddd;
}

.groupContents {
}
