#thepopup {
  position: absolute;
  left: 20%;
  width: 60%;

  border: 1px blue solid;
  background-color: #ffffff;
  padding: 4px;
}

#thepopupconnector {
  position: absolute;
  background-color: blue;
  width: 1px;
}
