#thepopup {
  position: absolute;
  left: 12%;
  width: 75%;

  border: 1px blue solid;
  background-color: #ffffff;
  padding: 4px;

  max-height: 60%;
  overflow: auto;
}

#thepopupconnector {
  position: absolute;
  background-color: blue;
  width: 1px;
}
