/* Based on the vim proton theme:
 *  http://vimcolorschemetest.googlecode.com/svn/colors/proton.vim
 */

.syntax {
  color: #404040;
  background-color: #f0f0f0;
  margin-top: 1em;
  margin-bottom: 0;
}

.syntax + .syntax {
  margin: 0;
}

/* vim Comment */
.syntax .c {color: #9098a0;}

/* vim Conditional */
.syntax .kc {color: #5080b0; background-color: #e0e8f0;}
/* vim Repeat */
.syntax .kl {color: #509030; background-color: #e0e8d8;}
/* vim Function */
.syntax .kf {color: #b08020;} /* too much for now: background-color: #f0e8c0; */
/* vim Exception */
.syntax .ke {color: #a03020;}
/* vim Type */
.syntax .kv {color: #607080; font-style: italic;}
/* vim Statement */
.syntax .kr {color: #606060; background-color: #e0e0e0;}
/* vim Special */
.syntax .km,
.syntax .kt {color: #603020;  background-color: #f0ece8; font-style: italic;}

.syntax .kx {}
/* vim Constant */
.syntax .kb,
.syntax .ku {color: #508040;}

.syntax .ps,
.syntax .pb,
.syntax .pr,
.syntax .pc,
.syntax .pp {}

.syntax .o,
.syntax .ot, 
.syntax .ok,
.syntax .od,
.syntax .oc,
.syntax .ot {}

/* vim Operator */
.syntax .kn,
.syntax .om,
.syntax .omu
.syntax .ou {color: #a77039;}

/* vim Identifier */
.syntax .i {} /* too many identifiers for now! color: #608050; */
/* vim Number */
.syntax .n {color: #508040;}
/* vim String */
.syntax .s,
.syntax .pq {color: #a07060; background-color: #f0ece8; font-style: italic;}
/* vim PreProc */
.syntax .r {color: #605080; background-color: #dcd8e0; font-style: italic;}

.syntax .hl {
  background-color: #ffffff;
  outline: thin solid green;
}

.syntax a {
  cursor: pointer;
}
